/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import 'h5bp';
/*
 * Icons sprite
 */
@import "compass/utilities/sprites";

@import "icon-cardicon/*.png";
@include all-icon-cardicon-sprites;

/*
 * Google fonts
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import "shortcode";
/*
 * Variable Frandroid
 */
$primary-color: #9ed44b;
$white-header: #f7f7f7;
$white-content: #fafafa;
$line-height-content: 140%;
$bg-shortcode: #eeeeee;
$subtitle: #3b3b3b;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
}
body {
  position: relative;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

.post-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  box-sizing: border-box;
  .post-cover {
    display: block;
    width: 100%;
  }
  .post-header {
    background-color: $primary-color;
    color: $white-header;
    padding: 20px;
    h1 {
      margin: 0 0 20px 0;
      font-size: 135%;
      line-height: 1.2em;
    }
    ul {
      margin: 0;
      padding: 0;
      float: left;
      li {
        display: inline-block;
        padding-left: 28px;
        height: 22px;
        font-size: 80%;
        line-height: 23px;
        opacity: (0.7);
        &.post-type {
          margin-right: 20px;
          &.news {
            @include icon-cardicon-sprite(icon-actu);
          }
          &.test {
            @include icon-cardicon-sprite(icon-test);
          }
          &.dossier {
            @include icon-cardicon-sprite(icon-dossier);
          }
          &.application {
            @include icon-cardicon-sprite(icon-application);
          }
        }
        &.post-date {
          @include icon-cardicon-sprite(icon-time);
        }
      }
    }
    p.author {
      float: right;
      font-size: 80%;
      padding-left: 28px;
      line-height: 23px;
      opacity: (0.7);
      @include icon-cardicon-sprite(icon-author);
    }
  }
  .post-content {
    background-color: $white-content;
    padding: 20px 0;
    h2 {
      margin: 0 20px;
    }
    h2 a {
      font-weight: 500;
      color: $primary-color;
      margin: 0 20px;
    }
    p {
      &:first-of-type {
        margin: 0 20px 20px 20px;
      }
      &:last-of-type {
        margin: 20px 20px 0px 20px;
      }
      font-size: 100%;
      line-height: $line-height-content;
      margin: 20px;
      em { word-wrap: break-word; }
      a {
        color: $primary-color;
        &:visited {
          color: $primary-color;
        }
      }
    }
    ul {
      margin: 0 20px;
      li {
        word-wrap: break-word;
      }
    }
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 15px;
    }
    .wp-caption {
      img {
        margin: 0;
      }
      .wp-caption-text {
        color: #979797;
        background-color: #eeeeee;
        margin: 0;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    .tablepress {
      margin: 20px;
      font-size: 80%;
      th:nth-child(4), th:nth-child(5), th:nth-child(6) {
        display: none
      }
      td:nth-child(4), td:nth-child(5), td:nth-child(6) {
        display: none
      }
    }
    .aside {
      margin: 0 20px;
      padding: 20px;
      background-color: #eeeeee;
      color: #8f8f8f;
    }
    blockquote {
      padding: 5px 0;
      color: #8f8f8f;
      font-style: italic;
      border-left: 2px solid $primary-color;
      padding-left: 5%;
      margin: 0 20px;
      background-color: #eeeeee;
      &.simplequote {
        color: #979797;
        background-color: $white-content;
      }
      p:before
      {
        content: '\201C';
      }
      p:after
      {
        content: '\201D';
      }
    }
    /*
     * div presente aussi dans le cas des dossiers (et non que les tests)
     */
    .device-rating-conclusion {
      margin: 10% 20px 20px;
      background-color: #eeeeee;
      .global-grade {
        padding: 4%;
        position: relative;
        background-color: #e0e0e0;
        > span {
          color: #878787;
          font-size: 150%;
        }
        div.grade > span {
          color: $white-content;
          position: absolute;
          top: -37%;
          left: 5%;
          width: 75px;
          height: 55px;
          border-radius: 40px;
          font-size: 180%;
          padding-top: 20px;
          text-align: center;
          background: $primary-color;
          span {
            display: none;
          }
        }
      }
      .conclusion {
        padding: 20px;
        color: #3b3b3b;
      }
      hr, .grades {
        display: none;
      }
      .good-bad-container {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 1px;
        ul {
          padding: 0;
          margin: 10px 0;
          list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
          li {
            padding: 2px 0;
          }
        }
        .goodBadTitle {
          color: #fff;
          background-color: $primary-color !important;
          margin: 0;
          padding: 5px;
          .picto {
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
            &.good {
              @include icon-cardicon-sprite(icon-pour);
            }
            &.bad {
              @include icon-cardicon-sprite(icon-contre);
            }
          }
        }
        .good-bad {
          display: none;
        }
      }
    }
    .benchmark {
      margin: 0 20px;
      h3 {
        margin: 0;
        font-weight: 700;
        color: #3b3b3b;
        padding: 15px 0 5px 20px;
      }
      h4 {
        margin: 0;
        color: #8f8f8f;
        padding: 0 0 15px 20px;
      }
      background-color: #eeeeee;
      ul li {
        padding: 25px 20px;
        font-size: 120%;
        &:nth-child(odd) {
          color: #f1f6ea;
          background-color: #aad961;
        }
        &:nth-child(even) {
          color: #eff5e8;
          background-color: $primary-color;
        }
        span.value {
          float: right;
        }
      }
    }
    .bloc-product {
      background-color: $bg-shortcode;
      padding-top: 20px;
      margin: 20px;
      .bloc-head {
        border-bottom: 1px solid #d1d1d1;
        .img-container {
          width: 35%;
          margin-left: 5%;
          float: left;
          position: relative;
          img {
            margin: 0;
          }
          .note {
            position: absolute;
            bottom: 5%;
            right: 0;
            color: $white-content;
            width: 60px;
            height: 60px;
            border-radius: 40px;
            line-height: 60px;
            font-size: 100%;
            text-align: center;
            background: $primary-color;
            span {
              font-size: 130%;
            }
          }
        }
        .links-container {
          width: 50%;
          margin-left: 5%;
          margin-right: 5%;
          float: left;
          font-size: 85%;
          h3 {
            color: $subtitle;
            margin: 0 0 10px;
          }
          ul {
            margin: 0;
            padding: 0;
            li {
              list-style-type: none;
              text-transform: uppercase;
              margin-bottom: 10px;
              a {
                font-size: 90%;
                color: $primary-color;
              }
            }
          }
        }
      }
      .group-specs-list {
        .group-details {
          border-bottom: 1px solid #d1d1d1;
          .cover-wrapper {
            width: 40%;
            height: 100px;
            float: left;
            position: relative;
            .cover {
              width: 70px;
              height: 70px;
              margin: auto;
              position: absolute;
              top: 0; left: 0; bottom: 0; right: 0;
              &.icons-shortcodes-screen {
                @include icon-cardicon-sprite(icon-shortcode-ecran);
              }
              &.icons-shortcodes-processeur {
                @include icon-cardicon-sprite(icon-shortcode-perf);
              }
              &.icons-shortcodes-apn {
                @include icon-cardicon-sprite(icon-shortcode-apn);
              }
              &.icons-shortcodes-poids {
                @include icon-cardicon-sprite(icon-shortcode-poids);
              }
              &.icons-shortcodes-batterie {
                @include icon-cardicon-sprite(icon-shortcode-batterie);
              }
            }
          }
          .specs {
            width: 60%;
            float: left;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style-type: none;
                color: #8f8f8f;
                font-size: 90%;
                span {
                  display: block;
                  color: $subtitle;
                  &:last-of-type {
                    margin-top: 5%;
                  }
                }
                &:last-of-type {
                  padding-bottom: 3%;
                }
              }
            }
          }
          &:last-of-type {
            border: none;
          }
        }
      }
    }
    .bloc-price {
      background-color: $bg-shortcode;
      padding: 10px;
      margin: 20px;
      .bloc-head {
        margin-bottom: 20px;
        .img-container {
          width: 12%;
          float: left;
          img {
            margin: 0px;
          }
        }
        .bloc-title {
          float: left;
          margin-left: 30px;
          h3 {
            font-weight: 700;
            color: $subtitle;
            margin: 0;
          }
          h4 {
            color: #8f8f8f;
            margin: 0;
            font-weight: 400;
          }
        }
      }
      .offersList {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          background-color: #fafafa;
          padding: 20px 10px;
          position: relative;
          margin-bottom: 2px;
          img {
            margin: 0;
            width: 20%;
            margin-right: 5%;
          }
          .offerTitle {
            color: #3f3f3f;
            font-size: 85%;
          }
          .offerPrice {
            float: right;
            color: $primary-color;
            font-size: 70%;
            margin-right: 10px;
            margin-top: 5px;
          }
          &:first-of-type {
            .offerPrice {
              position: absolute;
              right: 0px;
              top: 7px;
              float: right;
              color: $white-content;
              width: 40px;
              height: 40px;
              border-radius: 20px;
              line-height: 40px;
              text-align: center;
              background: $primary-color;
            }
          }
        }
      }
      .roxinoLink {
        background-color: #fafafa;
        padding: 20px 0;
        margin: 0;
        text-align: center;
        font-size: 90%;
        a {
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }
    .app-post-view {
      background-color: #eeeeee;
      margin: 20px;
      position: relative;
      .phone-model-container {
        display:none;
      }
      .app-desc {
        padding: 0 15px;
        &:after {
          content: " ";
          display: block;
          height: 0;
          clear: both;
        }
        .app-logo-wrapper {
          width: 30%;
          float: left;
          img {

          }
        }
        .app-headline {
          margin-left: 35%;
          padding-top: 15px;
          a:first-child {
            font-size: 90%;
            display: block;
            line-height: 105%;
            color: #3b3b3b;
            font-weight: 500;
          }
          a:last-child {
            color: #8f8f8f;
            font-size: 70%;
          }
        }
      }
      .download-bar {
        position: absolute;
        top: 65%;
        left: 37%;
        width: 55%;
        .btn-download {
          float: left;
          a {
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            background-color: $primary-color;
            padding: 7px 10px;
            text-transform: uppercase;
            font-size: 80%;
            color: $white-content;
            &:visited {
              color: $white-content;
            }
          }
        }
        .app-rating {
          float: right;
          text-align: center;
          margin-left: 6%;
          span {
            height: 16px;
            width: 17px;
          }
          [class|="sprite"] {
            display: inline-block;
            vertical-align: middle;
          }
          .sprite-star-empty {
            @include icon-cardicon-sprite(icon-star-empty);
          }
          .sprite-star-half {
            @include icon-cardicon-sprite(icon-star-half);
          }
          .sprite-star-full {
            @include icon-cardicon-sprite(icon-star-full);
          }
        }
      }
    }
    .review {
      .ta_magic_review, .hidden-phone {
        display: none;
      }
      h2.title {
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        color: #202020;
        font-weight: 400;
        font-size: 130%;
        margin-bottom: 10px;
      }
      .device-rating-container {
        .device-ratings {
          margin: 0 20px;
          .device-rating {
            position: relative;
            background-color: #eeeeee;
            padding: 20px;
            margin-bottom: 10px;
            .criteria {
              color: #8f8f8f;
              font-size: 110%;
              text-transform: capitalize;
            }
            .description {
              color: #3b3b3b;
              line-height: $line-height-content;
              margin-top: 5%;
            }
            .grade {
              background-color: #e0e0e0;
              height: 3px;
              > div {
                background-color: $primary-color;
                height: 3px;
                span {
                  position: absolute;
                  font-weight: 500;
                  top: 20px;
                  right: 20px;
                  color: #8f8f8f;
                  font-size: 110%;
                }
              }
            }
          }
        }
      }
      .device-rating-conclusion {
        .global-grade {
          padding: 14% 4% 4% 4%;
        }
      }
    }
  }
  .post-footer {
    background-color: #eeeeee;
    padding: 20px;
    a {
      text-transform: uppercase;
      font-size: 110%;
      color: #BABABA;
      &:visited {
        color: #BABABA;
      }
    }
  }
}


/* styles for format paysage */
@media all and (orientation: landscape) {
  .post-content {
    h2 {
      margin: 0 50px 10px !important;
    }
    p {
      margin: 20px 50px !important;
    }
    p.goodBadTitle {
      margin: 0 !important;
    }
    .tablepress {
      margin: 50px;
    }
  }
}

/* == SHORTOCDES == */

