.shortcode-container {

  // @import "grid-susy";
  .hidden-phone {
    display:none;
  }
  .related-products-shortcode {
    h3 {
      margin:0;
      margin-bottom:20px;
      .brand-title {
        text-transform: capitalize;
      }
    }
    .product-preview {
      .product-cover {
        border:1px solid #f4f4f4;
        border-bottom:none;
        height:199px;
        padding:10px;
        text-align:center;
        img {
          max-width: 179px;
          max-height: 179px;
        }
      }
      background: none;
      .product-preview-details {
        border-top: 3px solid #9ed44b;
        background-color: #f5f5f5;
        padding: 10px;
        padding-bottom: 45px;
        h4 {
          color: #444444;
          &:hover {
            text-decoration: underline;
          }
          font-size: 14px;
          span.product-model {
            color: #444444;
            display: block;
            font-weight: bold;
            font-size: 15px;
          }
        }
        p.product-desc {
          height: 150px;
          margin-bottom: 20px;
        }
        a.buy-button, span.buy-button {
          background-color: #fff;
          display: inline-block;
          padding: 5px;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          color: #9a9a9a;
        }
        a.buy-button {
          color: #9ed44b;
        }
      }
      .product-rank-container {
        display: block;
        height: 50px;
        padding: 0;
        margin: 0;
        position: relative;
        margin-bottom: 10px;
        .product-rank {
          float: left;
          height: 45px;
          width: 45px;
          text-align: center;
          margin-right: 10px;
          position: relative;
          .rank-circle-value {
            z-index: 40;
            position: relative;
          }
          .rank-value {
            position: absolute;
            height: 40px;
            width: 41px;
            line-height: 40px;
            text-align: center;
            font-weight: 900;
            border: 1px solid #b4b4b4;
            border-radius: 50%;
            color: #333;
            margin: auto;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 30;
          }
        }
        h4 {
          color: #444444;
          font-size: 14px;
          padding: 5px;
          margin:0;
          span.product-model {
            color: #444444;
            display: block;
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
    }
    .product-preview:nth-child(2) {
      padding-right:10px;
    }
    .product-preview:nth-child(3) {
      padding:0 10px;
    }
    .product-preview:nth-child(4) {
      padding-left:10px;
    }
  }

  .bloc-price-content {
    padding:0;
    h3 {
      margin:0;
    }
    .bloc-price-list {
      margin-top:10px;
      .bloc-price-loop {
        a {
          float:left;
          width:100%;
        }
        .item-list {
          padding:5px 0;
          .name {
            padding:0;
            padding-right:10px;
            margin:0;
            float:left;
            width:52%;
            span {
              color: #444;
              background:#f4f4f4;
              padding:8px;
              margin:0;
              width: 100%;
              display: block;
            }
          }
          .price_container {
            text-align:center;
            padding: 8px;
            color: #9ed44b;
            border: 1px solid #9ed44b;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            font-family: inherit;
            font-size: 13px;
            margin:0;
            float:left;
            width:32%;
            margin-left:5%;
          }
        }
      }
    }
  }

  /* == desktop == */
  position: relative;
  clear: both;
  padding:10px;
  .shortcode-bloc-product {
    .product-cover {
      border: 1px solid #f4f4f4;
      padding:10px;
      width:33%;
      float:left;
    }
      .product-title-responsive {
        margin:0;
        padding:0;
        float:left;
        display: block;
        width:100%;
        h3 {
          padding: 0;
          margin: 0;
          .product-brand, .product-model {
            display:block;
            font-weight: 100;
            color: #444444;
            font-size: 20px;
            width:100%;
          }
          .product-model {
            font-size: 25px;
            font-weight: 500;
          }
        }
      }
    .product-info {
      float: left;
      width: 55%;
      .product-links {
        margin:0;
        padding:0;
        margin-top:20px;
        display:block;
        width:100%;
        a {
          padding: 8px;
          color: #9ed44b;
          border: 1px solid #9ed44b;
          text-transform: uppercase;
          font-weight: bold;
          position: relative;
          font-family: inherit;
          font-size: 13px;
          margin:0;
          margin-right: 20px;
          display:block;
          width:100%;
        }
        .buy-button {
          background-color: #fff;
          display: inline-block;
          padding: 5px;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          color: #9a9a9a;
        }
        .see-more {
          border:none;
          padding: 8px 8px 8px 40px;
          background-color: #9ed44b;
          color: #fff;
          margin-right:0;
        }
    }

    }
  }
  .clearleft {
    clear: left;
  }

  /* == Bloc unique product == */

  .shortcode-bloc-product {
    .product-title-responsive {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      h3 {
        padding: 0;
        margin: 0;
      }
      .product-brand, .product-model {
        font-weight: 100;
        color: #444444;
        font-size: 20px;
      }
      .product-model {
        font-size: 25px;
        font-weight: 500;
      }

      .product-rank {
        float: left;
        height: 45px;
        width: 45px;
        text-align: center;
        position: relative;
        margin:0;
        padding:0;
        margin-right:10px;
        .rank-circle-value {
          z-index: 40;
          position: relative;
        }
        .rank-value {
          position: absolute;
          height: 40px;
          width: 41px;
          line-height: 40px;
          text-align: center;
          font-weight: 900;
          border: 1px solid #b4b4b4;
          border-radius: 50%;
          color: #333;
          margin: 3px;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 30;
        }
      }
    }
    .product-info {
      padding-right:0 !important;
      .product-title {
        display:none;
      }
      .product-links {
        margin:0 !important;
        margin-left: 2% !important;
        a {
          margin-bottom: 5px !important;
          text-align: center;
        }
        a.see-more {
          padding: 9px !important;
        }
      }
    }
  }

  /* == Bloc related products == */
  .product-preview {
    padding:0 !important;

    .product-preview-details {
      border:none !important;
      background:none !important;
      padding:0 !important;
      margin:0 !important;
      a {
        width:57%;
        float:left;
      }
      .product-rank-container {
        padding:0;
        padding-right:10px !important;
        h4 {
          background:#f4f4f4;
          padding:8px;
        }
      }
      .buy-button {
        text-align:center;
        padding: 13px !important;
        color: #9ed44b;
        border: 1px solid #9ed44b;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        font-family: inherit;
        font-size: 13px;
        margin:0;
        float: left;
        line-height: 22px;
        width: 32%;
      }
    }
  }

}