/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);
/* line 13, ../sass/_h5bp.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, ../sass/_h5bp.scss */
a {
  color: #00e;
  text-decoration: none;
}

/* line 26, ../sass/_h5bp.scss */
a:visited {
  color: #551a8b;
}

/* line 30, ../sass/_h5bp.scss */
a:hover {
  color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 38, ../sass/_h5bp.scss */
img {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 46, ../sass/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 56, ../sass/_h5bp.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 64, ../sass/_h5bp.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* line 68, ../sass/_h5bp.scss */
p {
  margin: 0;
}

/* line 72, ../sass/_h5bp.scss */
br {
  content: "";
}

/* line 76, ../sass/_h5bp.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/_h5bp.scss */
ul li {
  list-style-type: none;
}

/* line 84, ../sass/_h5bp.scss */
.wp-caption, iframe {
  width: 100% !important;
}

/* line 88, ../sass/_h5bp.scss */
.ytpub {
  overflow: hidden;
  margin: 3% 0;
}

/* line 94, ../sass/_h5bp.scss */
object {
  display: none;
}

/*
 * Functions
 */
/* line 105, ../sass/_h5bp.scss */
.grade.val-1 > div {
  width: 10%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-2 > div {
  width: 20%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-3 > div {
  width: 30%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-4 > div {
  width: 40%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-5 > div {
  width: 50%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-6 > div {
  width: 60%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-7 > div {
  width: 70%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-8 > div {
  width: 80%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-9 > div {
  width: 90%;
}

/* line 105, ../sass/_h5bp.scss */
.grade.val-10 > div {
  width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
/* line 120, ../sass/_h5bp.scss */
.nocallout {
  -webkit-touch-callout: none;
}

/* line 124, ../sass/_h5bp.scss */
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */
/* line 130, ../sass/_h5bp.scss */
textarea[contenteditable] {
  -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
/* line 137, ../sass/_h5bp.scss */
.gifhidden {
  position: absolute;
  left: -100%;
}

/*
 * Image replacement
 */
/* line 146, ../sass/_h5bp.scss */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}

/* line 157, ../sass/_h5bp.scss */
.ir br {
  display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 165, ../sass/_h5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 174, ../sass/_h5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 190, ../sass/_h5bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 204, ../sass/_h5bp.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 213, ../sass/_h5bp.scss */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

/* line 219, ../sass/_h5bp.scss */
.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
/*
 * Icons sprite
 */
/* line 200, icon-cardicon/*.png */
.icon-cardicon-sprite, .icon-cardicon-icon-actu, .icon-cardicon-icon-application, .icon-cardicon-icon-author, .icon-cardicon-icon-blog, .icon-cardicon-icon-contre, .icon-cardicon-icon-dossier, .icon-cardicon-icon-hub, .icon-cardicon-icon-pour, .icon-cardicon-icon-roxino, .icon-cardicon-icon-shortcode-apn, .icon-cardicon-icon-shortcode-batterie, .icon-cardicon-icon-shortcode-ecran, .icon-cardicon-icon-shortcode-perf, .icon-cardicon-icon-shortcode-poids, .icon-cardicon-icon-sony, .icon-cardicon-icon-star-empty, .icon-cardicon-icon-star-full, .icon-cardicon-icon-star-half, .icon-cardicon-icon-test, .icon-cardicon-icon-time, .post-wrapper .post-header ul li.post-type.news, .post-wrapper .post-header ul li.post-type.test, .post-wrapper .post-header ul li.post-type.dossier, .post-wrapper .post-header ul li.post-type.application, .post-wrapper .post-header ul li.post-date, .post-wrapper .post-header p.author, .post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle .picto.good, .post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle .picto.bad, .post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-screen, .post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-processeur, .post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-apn, .post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-poids, .post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-batterie, .post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-empty, .post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-half, .post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-full {
  background-image: url('../images/icon-cardicon-sce213d1550.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-actu {
  background-position: 0 0;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-application {
  background-position: 0 -22px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-author {
  background-position: 0 -44px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-blog {
  background-position: 0 -66px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-contre {
  background-position: 0 -88px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-dossier {
  background-position: 0 -113px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-hub {
  background-position: 0 -135px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-pour {
  background-position: 0 -157px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-roxino {
  background-position: 0 -182px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-shortcode-apn {
  background-position: 0 -204px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-shortcode-batterie {
  background-position: 0 -274px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-shortcode-ecran {
  background-position: 0 -344px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-shortcode-perf {
  background-position: 0 -414px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-shortcode-poids {
  background-position: 0 -484px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-sony {
  background-position: 0 -554px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-star-empty {
  background-position: 0 -576px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-star-full {
  background-position: 0 -592px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-star-half {
  background-position: 0 -608px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-test {
  background-position: 0 -624px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cardicon-icon-time {
  background-position: 0 -646px;
}

/*
 * Google fonts
 */
/* line 1, ../sass/shortcode.scss */
.shortcode-container {
  /* == desktop == */
  position: relative;
  clear: both;
  padding: 10px;
  /* == Bloc unique product == */
  /* == Bloc related products == */
}
/* line 4, ../sass/shortcode.scss */
.shortcode-container .hidden-phone {
  display: none;
}
/* line 8, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode h3 {
  margin: 0;
  margin-bottom: 20px;
}
/* line 11, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode h3 .brand-title {
  text-transform: capitalize;
}
/* line 15, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview {
  background: none;
}
/* line 16, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-cover {
  border: 1px solid #f4f4f4;
  border-bottom: none;
  height: 199px;
  padding: 10px;
  text-align: center;
}
/* line 22, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-cover img {
  max-width: 179px;
  max-height: 179px;
}
/* line 28, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details {
  border-top: 3px solid #9ed44b;
  background-color: #f5f5f5;
  padding: 10px;
  padding-bottom: 45px;
}
/* line 33, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4 {
  color: #444444;
  font-size: 14px;
}
/* line 35, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4:hover {
  text-decoration: underline;
}
/* line 39, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4 span.product-model {
  color: #444444;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
/* line 46, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details p.product-desc {
  height: 150px;
  margin-bottom: 20px;
}
/* line 50, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details a.buy-button, .shortcode-container .related-products-shortcode .product-preview .product-preview-details span.buy-button {
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #9a9a9a;
}
/* line 59, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details a.buy-button {
  color: #9ed44b;
}
/* line 63, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container {
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
}
/* line 70, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank {
  float: left;
  height: 45px;
  width: 45px;
  text-align: center;
  margin-right: 10px;
  position: relative;
}
/* line 77, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank .rank-circle-value {
  z-index: 40;
  position: relative;
}
/* line 81, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank .rank-value {
  position: absolute;
  height: 40px;
  width: 41px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  border: 1px solid #b4b4b4;
  border-radius: 50%;
  color: #333;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
}
/* line 99, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container h4 {
  color: #444444;
  font-size: 14px;
  padding: 5px;
  margin: 0;
}
/* line 104, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container h4 span.product-model {
  color: #444444;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
/* line 113, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(2) {
  padding-right: 10px;
}
/* line 116, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(3) {
  padding: 0 10px;
}
/* line 119, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(4) {
  padding-left: 10px;
}
/* line 124, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content {
  padding: 0;
}
/* line 126, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content h3 {
  margin: 0;
}
/* line 129, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list {
  margin-top: 10px;
}
/* line 132, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop a {
  float: left;
  width: 100%;
}
/* line 136, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list {
  padding: 5px 0;
}
/* line 138, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .name {
  padding: 0;
  padding-right: 10px;
  margin: 0;
  float: left;
  width: 52%;
}
/* line 144, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .name span {
  color: #444;
  background: #f4f4f4;
  padding: 8px;
  margin: 0;
  width: 100%;
  display: block;
}
/* line 153, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .price_container {
  text-align: center;
  padding: 8px;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  float: left;
  width: 32%;
  margin-left: 5%;
}
/* line 178, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-cover {
  border: 1px solid #f4f4f4;
  padding: 10px;
  width: 33%;
  float: left;
}
/* line 184, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  width: 100%;
}
/* line 190, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 {
  padding: 0;
  margin: 0;
}
/* line 193, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-brand, .shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-model {
  display: block;
  font-weight: 100;
  color: #444444;
  font-size: 20px;
  width: 100%;
}
/* line 200, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-model {
  font-size: 25px;
  font-weight: 500;
}
/* line 206, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info {
  float: left;
  width: 55%;
}
/* line 209, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: block;
  width: 100%;
}
/* line 215, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a {
  padding: 8px;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  margin-right: 20px;
  display: block;
  width: 100%;
}
/* line 229, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links .buy-button {
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #9a9a9a;
}
/* line 238, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links .see-more {
  border: none;
  padding: 8px 8px 8px 40px;
  background-color: #9ed44b;
  color: #fff;
  margin-right: 0;
}
/* line 249, ../sass/shortcode.scss */
.shortcode-container .clearleft {
  clear: left;
}
/* line 256, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
/* line 260, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 {
  padding: 0;
  margin: 0;
}
/* line 264, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-brand, .shortcode-container .shortcode-bloc-product .product-title-responsive .product-model {
  font-weight: 100;
  color: #444444;
  font-size: 20px;
}
/* line 269, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-model {
  font-size: 25px;
  font-weight: 500;
}
/* line 274, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank {
  float: left;
  height: 45px;
  width: 45px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
/* line 283, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank .rank-circle-value {
  z-index: 40;
  position: relative;
}
/* line 287, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank .rank-value {
  position: absolute;
  height: 40px;
  width: 41px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  border: 1px solid #b4b4b4;
  border-radius: 50%;
  color: #333;
  margin: 3px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
}
/* line 306, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info {
  padding-right: 0 !important;
}
/* line 308, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-title {
  display: none;
}
/* line 311, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links {
  margin: 0 !important;
  margin-left: 2% !important;
}
/* line 314, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a {
  margin-bottom: 5px !important;
  text-align: center;
}
/* line 318, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a.see-more {
  padding: 9px !important;
}
/* line 326, ../sass/shortcode.scss */
.shortcode-container .product-preview {
  padding: 0 !important;
}
/* line 329, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 334, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details a {
  width: 57%;
  float: left;
}
/* line 338, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .product-rank-container {
  padding: 0;
  padding-right: 10px !important;
}
/* line 341, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .product-rank-container h4 {
  background: #f4f4f4;
  padding: 8px;
}
/* line 346, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .buy-button {
  text-align: center;
  padding: 13px !important;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  float: left;
  line-height: 22px;
  width: 32%;
}

/*
 * Variable Frandroid
 */
/* line 32, ../sass/main.scss */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/main.scss */
a {
  color: #9ed44b;
}

/* line 44, ../sass/main.scss */
body {
  position: relative;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

/* line 53, ../sass/main.scss */
.post-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  box-sizing: border-box;
}
/* line 59, ../sass/main.scss */
.post-wrapper .post-cover {
  display: block;
  width: 100%;
}
/* line 63, ../sass/main.scss */
.post-wrapper .post-header {
  background-color: #9ed44b;
  color: #f7f7f7;
  padding: 20px;
}
/* line 67, ../sass/main.scss */
.post-wrapper .post-header h1 {
  margin: 0 0 20px 0;
  font-size: 135%;
  line-height: 1.2em;
}
/* line 72, ../sass/main.scss */
.post-wrapper .post-header ul {
  margin: 0;
  padding: 0;
  float: left;
}
/* line 76, ../sass/main.scss */
.post-wrapper .post-header ul li {
  display: inline-block;
  padding-left: 28px;
  height: 22px;
  font-size: 80%;
  line-height: 23px;
  opacity: 0.7;
}
/* line 83, ../sass/main.scss */
.post-wrapper .post-header ul li.post-type {
  margin-right: 20px;
}
/* line 85, ../sass/main.scss */
.post-wrapper .post-header ul li.post-type.news {
  background-position: 0 0;
}
/* line 88, ../sass/main.scss */
.post-wrapper .post-header ul li.post-type.test {
  background-position: 0 -624px;
}
/* line 91, ../sass/main.scss */
.post-wrapper .post-header ul li.post-type.dossier {
  background-position: 0 -113px;
}
/* line 94, ../sass/main.scss */
.post-wrapper .post-header ul li.post-type.application {
  background-position: 0 -22px;
}
/* line 98, ../sass/main.scss */
.post-wrapper .post-header ul li.post-date {
  background-position: 0 -646px;
}
/* line 103, ../sass/main.scss */
.post-wrapper .post-header p.author {
  float: right;
  font-size: 80%;
  padding-left: 28px;
  line-height: 23px;
  opacity: 0.7;
  background-position: 0 -44px;
}
/* line 112, ../sass/main.scss */
.post-wrapper .post-content {
  background-color: #fafafa;
  padding: 20px 0;
  /*
   * div presente aussi dans le cas des dossiers (et non que les tests)
   */
}
/* line 115, ../sass/main.scss */
.post-wrapper .post-content h2 {
  margin: 0 20px;
}
/* line 118, ../sass/main.scss */
.post-wrapper .post-content h2 a {
  font-weight: 500;
  color: #9ed44b;
  margin: 0 20px;
}
/* line 123, ../sass/main.scss */
.post-wrapper .post-content p {
  font-size: 100%;
  line-height: 140%;
  margin: 20px;
}
/* line 124, ../sass/main.scss */
.post-wrapper .post-content p:first-of-type {
  margin: 0 20px 20px 20px;
}
/* line 127, ../sass/main.scss */
.post-wrapper .post-content p:last-of-type {
  margin: 20px 20px 0px 20px;
}
/* line 133, ../sass/main.scss */
.post-wrapper .post-content p em {
  word-wrap: break-word;
}
/* line 134, ../sass/main.scss */
.post-wrapper .post-content p a {
  color: #9ed44b;
}
/* line 136, ../sass/main.scss */
.post-wrapper .post-content p a:visited {
  color: #9ed44b;
}
/* line 141, ../sass/main.scss */
.post-wrapper .post-content ul {
  margin: 0 20px;
}
/* line 143, ../sass/main.scss */
.post-wrapper .post-content ul li {
  word-wrap: break-word;
}
/* line 147, ../sass/main.scss */
.post-wrapper .post-content img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}
/* line 153, ../sass/main.scss */
.post-wrapper .post-content .wp-caption img {
  margin: 0;
}
/* line 156, ../sass/main.scss */
.post-wrapper .post-content .wp-caption .wp-caption-text {
  color: #979797;
  background-color: #eeeeee;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 167, ../sass/main.scss */
.post-wrapper .post-content .tablepress {
  margin: 20px;
  font-size: 80%;
}
/* line 170, ../sass/main.scss */
.post-wrapper .post-content .tablepress th:nth-child(4), .post-wrapper .post-content .tablepress th:nth-child(5), .post-wrapper .post-content .tablepress th:nth-child(6) {
  display: none;
}
/* line 173, ../sass/main.scss */
.post-wrapper .post-content .tablepress td:nth-child(4), .post-wrapper .post-content .tablepress td:nth-child(5), .post-wrapper .post-content .tablepress td:nth-child(6) {
  display: none;
}
/* line 177, ../sass/main.scss */
.post-wrapper .post-content .aside {
  margin: 0 20px;
  padding: 20px;
  background-color: #eeeeee;
  color: #8f8f8f;
}
/* line 183, ../sass/main.scss */
.post-wrapper .post-content blockquote {
  padding: 5px 0;
  color: #8f8f8f;
  font-style: italic;
  border-left: 2px solid #9ed44b;
  padding-left: 5%;
  margin: 0 20px;
  background-color: #eeeeee;
}
/* line 191, ../sass/main.scss */
.post-wrapper .post-content blockquote.simplequote {
  color: #979797;
  background-color: #fafafa;
}
/* line 195, ../sass/main.scss */
.post-wrapper .post-content blockquote p:before {
  content: '\201C';
}
/* line 199, ../sass/main.scss */
.post-wrapper .post-content blockquote p:after {
  content: '\201D';
}
/* line 207, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion {
  margin: 10% 20px 20px;
  background-color: #eeeeee;
}
/* line 210, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .global-grade {
  padding: 4%;
  position: relative;
  background-color: #e0e0e0;
}
/* line 214, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .global-grade > span {
  color: #878787;
  font-size: 150%;
}
/* line 218, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .global-grade div.grade > span {
  color: #fafafa;
  position: absolute;
  top: -37%;
  left: 5%;
  width: 75px;
  height: 55px;
  border-radius: 40px;
  font-size: 180%;
  padding-top: 20px;
  text-align: center;
  background: #9ed44b;
}
/* line 230, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .global-grade div.grade > span span {
  display: none;
}
/* line 235, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .conclusion {
  padding: 20px;
  color: #3b3b3b;
}
/* line 239, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion hr, .post-wrapper .post-content .device-rating-conclusion .grades {
  display: none;
}
/* line 242, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1px;
}
/* line 246, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container ul {
  padding: 0;
  margin: 10px 0;
  list-style: square inside url("data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==");
}
/* line 250, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container ul li {
  padding: 2px 0;
}
/* line 254, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle {
  color: #fff;
  background-color: #9ed44b !important;
  margin: 0;
  padding: 5px;
}
/* line 259, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle .picto {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
/* line 265, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle .picto.good {
  background-position: 0 -157px;
}
/* line 268, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container .goodBadTitle .picto.bad {
  background-position: 0 -88px;
}
/* line 273, ../sass/main.scss */
.post-wrapper .post-content .device-rating-conclusion .good-bad-container .good-bad {
  display: none;
}
/* line 278, ../sass/main.scss */
.post-wrapper .post-content .benchmark {
  margin: 0 20px;
  background-color: #eeeeee;
}
/* line 280, ../sass/main.scss */
.post-wrapper .post-content .benchmark h3 {
  margin: 0;
  font-weight: 700;
  color: #3b3b3b;
  padding: 15px 0 5px 20px;
}
/* line 286, ../sass/main.scss */
.post-wrapper .post-content .benchmark h4 {
  margin: 0;
  color: #8f8f8f;
  padding: 0 0 15px 20px;
}
/* line 292, ../sass/main.scss */
.post-wrapper .post-content .benchmark ul li {
  padding: 25px 20px;
  font-size: 120%;
}
/* line 295, ../sass/main.scss */
.post-wrapper .post-content .benchmark ul li:nth-child(odd) {
  color: #f1f6ea;
  background-color: #aad961;
}
/* line 299, ../sass/main.scss */
.post-wrapper .post-content .benchmark ul li:nth-child(even) {
  color: #eff5e8;
  background-color: #9ed44b;
}
/* line 303, ../sass/main.scss */
.post-wrapper .post-content .benchmark ul li span.value {
  float: right;
}
/* line 308, ../sass/main.scss */
.post-wrapper .post-content .bloc-product {
  background-color: #eeeeee;
  padding-top: 20px;
  margin: 20px;
}
/* line 312, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head {
  border-bottom: 1px solid #d1d1d1;
}
/* line 314, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .img-container {
  width: 35%;
  margin-left: 5%;
  float: left;
  position: relative;
}
/* line 319, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .img-container img {
  margin: 0;
}
/* line 322, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .img-container .note {
  position: absolute;
  bottom: 5%;
  right: 0;
  color: #fafafa;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  line-height: 60px;
  font-size: 100%;
  text-align: center;
  background: #9ed44b;
}
/* line 334, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .img-container .note span {
  font-size: 130%;
}
/* line 339, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .links-container {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  font-size: 85%;
}
/* line 345, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .links-container h3 {
  color: #3b3b3b;
  margin: 0 0 10px;
}
/* line 349, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .links-container ul {
  margin: 0;
  padding: 0;
}
/* line 352, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .links-container ul li {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 356, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .bloc-head .links-container ul li a {
  font-size: 90%;
  color: #9ed44b;
}
/* line 365, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details {
  border-bottom: 1px solid #d1d1d1;
}
/* line 367, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper {
  width: 40%;
  height: 100px;
  float: left;
  position: relative;
}
/* line 372, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover {
  width: 70px;
  height: 70px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 378, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-screen {
  background-position: 0 -344px;
}
/* line 381, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-processeur {
  background-position: 0 -414px;
}
/* line 384, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-apn {
  background-position: 0 -204px;
}
/* line 387, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-poids {
  background-position: 0 -484px;
}
/* line 390, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .cover-wrapper .cover.icons-shortcodes-batterie {
  background-position: 0 -274px;
}
/* line 395, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs {
  width: 60%;
  float: left;
}
/* line 398, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs ul {
  margin: 0;
  padding: 0;
}
/* line 401, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs ul li {
  list-style-type: none;
  color: #8f8f8f;
  font-size: 90%;
}
/* line 405, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs ul li span {
  display: block;
  color: #3b3b3b;
}
/* line 408, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs ul li span:last-of-type {
  margin-top: 5%;
}
/* line 412, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details .specs ul li:last-of-type {
  padding-bottom: 3%;
}
/* line 418, ../sass/main.scss */
.post-wrapper .post-content .bloc-product .group-specs-list .group-details:last-of-type {
  border: none;
}
/* line 424, ../sass/main.scss */
.post-wrapper .post-content .bloc-price {
  background-color: #eeeeee;
  padding: 10px;
  margin: 20px;
}
/* line 428, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head {
  margin-bottom: 20px;
}
/* line 430, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head .img-container {
  width: 12%;
  float: left;
}
/* line 433, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head .img-container img {
  margin: 0px;
}
/* line 437, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head .bloc-title {
  float: left;
  margin-left: 30px;
}
/* line 440, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head .bloc-title h3 {
  font-weight: 700;
  color: #3b3b3b;
  margin: 0;
}
/* line 445, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .bloc-head .bloc-title h4 {
  color: #8f8f8f;
  margin: 0;
  font-weight: 400;
}
/* line 452, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList {
  margin: 0;
  padding: 0;
}
/* line 455, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList li {
  list-style-type: none;
  background-color: #fafafa;
  padding: 20px 10px;
  position: relative;
  margin-bottom: 2px;
}
/* line 461, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList li img {
  margin: 0;
  width: 20%;
  margin-right: 5%;
}
/* line 466, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList li .offerTitle {
  color: #3f3f3f;
  font-size: 85%;
}
/* line 470, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList li .offerPrice {
  float: right;
  color: #9ed44b;
  font-size: 70%;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 478, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .offersList li:first-of-type .offerPrice {
  position: absolute;
  right: 0px;
  top: 7px;
  float: right;
  color: #fafafa;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  background: #9ed44b;
}
/* line 494, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .roxinoLink {
  background-color: #fafafa;
  padding: 20px 0;
  margin: 0;
  text-align: center;
  font-size: 90%;
}
/* line 500, ../sass/main.scss */
.post-wrapper .post-content .bloc-price .roxinoLink a {
  color: #9ed44b;
  text-transform: uppercase;
}
/* line 506, ../sass/main.scss */
.post-wrapper .post-content .app-post-view {
  background-color: #eeeeee;
  margin: 20px;
  position: relative;
}
/* line 510, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .phone-model-container {
  display: none;
}
/* line 513, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc {
  padding: 0 15px;
}
/* line 515, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
/* line 521, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc .app-logo-wrapper {
  width: 30%;
  float: left;
}
/* line 528, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc .app-headline {
  margin-left: 35%;
  padding-top: 15px;
}
/* line 531, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc .app-headline a:first-child {
  font-size: 90%;
  display: block;
  line-height: 105%;
  color: #3b3b3b;
  font-weight: 500;
}
/* line 538, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .app-desc .app-headline a:last-child {
  color: #8f8f8f;
  font-size: 70%;
}
/* line 544, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar {
  position: absolute;
  top: 65%;
  left: 37%;
  width: 55%;
}
/* line 549, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .btn-download {
  float: left;
}
/* line 551, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .btn-download a {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #9ed44b;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 80%;
  color: #fafafa;
}
/* line 558, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .btn-download a:visited {
  color: #fafafa;
}
/* line 563, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating {
  float: right;
  text-align: center;
  margin-left: 6%;
}
/* line 567, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating span {
  height: 16px;
  width: 17px;
}
/* line 571, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating [class|="sprite"] {
  display: inline-block;
  vertical-align: middle;
}
/* line 575, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-empty {
  background-position: 0 -576px;
}
/* line 578, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-half {
  background-position: 0 -608px;
}
/* line 581, ../sass/main.scss */
.post-wrapper .post-content .app-post-view .download-bar .app-rating .sprite-star-full {
  background-position: 0 -592px;
}
/* line 588, ../sass/main.scss */
.post-wrapper .post-content .review .ta_magic_review, .post-wrapper .post-content .review .hidden-phone {
  display: none;
}
/* line 591, ../sass/main.scss */
.post-wrapper .post-content .review h2.title {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #202020;
  font-weight: 400;
  font-size: 130%;
  margin-bottom: 10px;
}
/* line 599, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings {
  margin: 0 20px;
}
/* line 601, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating {
  position: relative;
  background-color: #eeeeee;
  padding: 20px;
  margin-bottom: 10px;
}
/* line 606, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating .criteria {
  color: #8f8f8f;
  font-size: 110%;
  text-transform: capitalize;
}
/* line 611, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating .description {
  color: #3b3b3b;
  line-height: 140%;
  margin-top: 5%;
}
/* line 616, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating .grade {
  background-color: #e0e0e0;
  height: 3px;
}
/* line 619, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating .grade > div {
  background-color: #9ed44b;
  height: 3px;
}
/* line 622, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-container .device-ratings .device-rating .grade > div span {
  position: absolute;
  font-weight: 500;
  top: 20px;
  right: 20px;
  color: #8f8f8f;
  font-size: 110%;
}
/* line 636, ../sass/main.scss */
.post-wrapper .post-content .review .device-rating-conclusion .global-grade {
  padding: 14% 4% 4% 4%;
}
/* line 642, ../sass/main.scss */
.post-wrapper .post-footer {
  background-color: #eeeeee;
  padding: 20px;
}
/* line 645, ../sass/main.scss */
.post-wrapper .post-footer a {
  text-transform: uppercase;
  font-size: 110%;
  color: #BABABA;
}
/* line 649, ../sass/main.scss */
.post-wrapper .post-footer a:visited {
  color: #BABABA;
}

/* styles for format paysage */
@media all and (orientation: landscape) {
  /* line 660, ../sass/main.scss */
  .post-content h2 {
    margin: 0 50px 10px !important;
  }
  /* line 663, ../sass/main.scss */
  .post-content p {
    margin: 20px 50px !important;
  }
  /* line 666, ../sass/main.scss */
  .post-content p.goodBadTitle {
    margin: 0 !important;
  }
  /* line 669, ../sass/main.scss */
  .post-content .tablepress {
    margin: 50px;
  }
}
/* == SHORTOCDES == */
