/* line 1, ../sass/shortcode.scss */
.shortcode-container {
  /* == desktop == */
  position: relative;
  clear: both;
  padding: 10px;
  /* == Bloc unique product == */
  /* == Bloc related products == */
}
/* line 4, ../sass/shortcode.scss */
.shortcode-container .hidden-phone {
  display: none;
}
/* line 8, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode h3 {
  margin: 0;
  margin-bottom: 20px;
}
/* line 11, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode h3 .brand-title {
  text-transform: capitalize;
}
/* line 15, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview {
  background: none;
}
/* line 16, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-cover {
  border: 1px solid #f4f4f4;
  border-bottom: none;
  height: 199px;
  padding: 10px;
  text-align: center;
}
/* line 22, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-cover img {
  max-width: 179px;
  max-height: 179px;
}
/* line 28, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details {
  border-top: 3px solid #9ed44b;
  background-color: #f5f5f5;
  padding: 10px;
  padding-bottom: 45px;
}
/* line 33, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4 {
  color: #444444;
  font-size: 14px;
}
/* line 35, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4:hover {
  text-decoration: underline;
}
/* line 39, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details h4 span.product-model {
  color: #444444;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
/* line 46, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details p.product-desc {
  height: 150px;
  margin-bottom: 20px;
}
/* line 50, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details a.buy-button, .shortcode-container .related-products-shortcode .product-preview .product-preview-details span.buy-button {
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #9a9a9a;
}
/* line 59, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-preview-details a.buy-button {
  color: #9ed44b;
}
/* line 63, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container {
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
}
/* line 70, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank {
  float: left;
  height: 45px;
  width: 45px;
  text-align: center;
  margin-right: 10px;
  position: relative;
}
/* line 77, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank .rank-circle-value {
  z-index: 40;
  position: relative;
}
/* line 81, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container .product-rank .rank-value {
  position: absolute;
  height: 40px;
  width: 41px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  border: 1px solid #b4b4b4;
  border-radius: 50%;
  color: #333;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
}
/* line 99, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container h4 {
  color: #444444;
  font-size: 14px;
  padding: 5px;
  margin: 0;
}
/* line 104, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview .product-rank-container h4 span.product-model {
  color: #444444;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
/* line 113, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(2) {
  padding-right: 10px;
}
/* line 116, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(3) {
  padding: 0 10px;
}
/* line 119, ../sass/shortcode.scss */
.shortcode-container .related-products-shortcode .product-preview:nth-child(4) {
  padding-left: 10px;
}
/* line 124, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content {
  padding: 0;
}
/* line 126, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content h3 {
  margin: 0;
}
/* line 129, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list {
  margin-top: 10px;
}
/* line 132, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop a {
  float: left;
  width: 100%;
}
/* line 136, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list {
  padding: 5px 0;
}
/* line 138, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .name {
  padding: 0;
  padding-right: 10px;
  margin: 0;
  float: left;
  width: 52%;
}
/* line 144, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .name span {
  color: #444;
  background: #f4f4f4;
  padding: 8px;
  margin: 0;
  width: 100%;
  display: block;
}
/* line 153, ../sass/shortcode.scss */
.shortcode-container .bloc-price-content .bloc-price-list .bloc-price-loop .item-list .price_container {
  text-align: center;
  padding: 8px;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  float: left;
  width: 32%;
  margin-left: 5%;
}
/* line 178, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-cover {
  border: 1px solid #f4f4f4;
  padding: 10px;
  width: 33%;
  float: left;
}
/* line 184, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  width: 100%;
}
/* line 190, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 {
  padding: 0;
  margin: 0;
}
/* line 193, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-brand, .shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-model {
  display: block;
  font-weight: 100;
  color: #444444;
  font-size: 20px;
  width: 100%;
}
/* line 200, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 .product-model {
  font-size: 25px;
  font-weight: 500;
}
/* line 206, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info {
  float: left;
  width: 55%;
}
/* line 209, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  display: block;
  width: 100%;
}
/* line 215, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a {
  padding: 8px;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  margin-right: 20px;
  display: block;
  width: 100%;
}
/* line 229, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links .buy-button {
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #9a9a9a;
}
/* line 238, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links .see-more {
  border: none;
  padding: 8px 8px 8px 40px;
  background-color: #9ed44b;
  color: #fff;
  margin-right: 0;
}
/* line 249, ../sass/shortcode.scss */
.shortcode-container .clearleft {
  clear: left;
}
/* line 256, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
/* line 260, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive h3 {
  padding: 0;
  margin: 0;
}
/* line 264, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-brand, .shortcode-container .shortcode-bloc-product .product-title-responsive .product-model {
  font-weight: 100;
  color: #444444;
  font-size: 20px;
}
/* line 269, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-model {
  font-size: 25px;
  font-weight: 500;
}
/* line 274, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank {
  float: left;
  height: 45px;
  width: 45px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
/* line 283, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank .rank-circle-value {
  z-index: 40;
  position: relative;
}
/* line 287, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-title-responsive .product-rank .rank-value {
  position: absolute;
  height: 40px;
  width: 41px;
  line-height: 40px;
  text-align: center;
  font-weight: 900;
  border: 1px solid #b4b4b4;
  border-radius: 50%;
  color: #333;
  margin: 3px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
}
/* line 306, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info {
  padding-right: 0 !important;
}
/* line 308, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-title {
  display: none;
}
/* line 311, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links {
  margin: 0 !important;
  margin-left: 2% !important;
}
/* line 314, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a {
  margin-bottom: 5px !important;
  text-align: center;
}
/* line 318, ../sass/shortcode.scss */
.shortcode-container .shortcode-bloc-product .product-info .product-links a.see-more {
  padding: 9px !important;
}
/* line 326, ../sass/shortcode.scss */
.shortcode-container .product-preview {
  padding: 0 !important;
}
/* line 329, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 334, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details a {
  width: 57%;
  float: left;
}
/* line 338, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .product-rank-container {
  padding: 0;
  padding-right: 10px !important;
}
/* line 341, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .product-rank-container h4 {
  background: #f4f4f4;
  padding: 8px;
}
/* line 346, ../sass/shortcode.scss */
.shortcode-container .product-preview .product-preview-details .buy-button {
  text-align: center;
  padding: 13px !important;
  color: #9ed44b;
  border: 1px solid #9ed44b;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-family: inherit;
  font-size: 13px;
  margin: 0;
  float: left;
  line-height: 22px;
  width: 32%;
}
